$Roboto:  ("Regular", 400), ("Medium ", 500) ("Bold ", 700);
    
@each $name, $weight in $Roboto {
    @font-face {
        font-family: "Roboto";
        src: url("../common/fond.scss-#{$name}.ttf");
        font-weight: $weight;
    }
}